@use '../../Styles/variables' as *;

.emails-container {
    border: 1px solid $border-color;
    display: flex;
    max-height: 93vh;
    grid-area: 1 / 2 / 2 / 5;

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__results {
        overflow-y: scroll;
        max-height: 82vh;
    }
}

.emails-container__email-body {
    grid-area: 1 / 5 / 2 / 9;
 }