@use '../../Styles/typography' as *;
@use '../../Styles/variables' as *;

.emails-wrapper {
    border: 1px solid $border-color;
    border-right: 4px solid $primary-green;
    padding: 1rem;
    background-color: $secondary-green;

    &:hover {
        cursor: pointer;
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.read {
    background-color: white;
    border-right: none;
}

.read-text {
    font-weight: 300;
    padding: 0.6rem 0;
}