@use '../../Styles/variables' as *;

.sidebar {
    width: 25%;
    padding: 1rem;
    grid-area: 1 / 1 / 2 / 2;

    &__menu {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        &__btn {
            font-size: 1rem;
            color: $primary-blue;
            padding: 1rem;
            background-color: $secondary-green;
            border-radius: 5px;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            gap: 4rem;

            &--trash {
                font-size: 1rem;
                color: $primary-grey;
                padding: 1rem;
                border-radius: 5px;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                gap: 4rem;

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px
                }
            }

            span {
                display: flex;
                align-items: center;
                gap: 5px
            }
        }

        .email-count {
            color: $primary-green;
            font-weight: bold;

            &--trash {
                color: $secondary-grey;
            }
        }
    }
}