@use '../../Styles/variables' as *;

.sidebar {
    width: 25%;
    padding: 1rem;

    &__menu {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        a {
            font-size: 1rem;
            color: $primary-blue;
            padding: 1rem;
            background-color: $secondary-green;
            border-radius: 30%;
        }
    }
}