@use "./Styles/typography" as *;
@use './Styles/variables' as *;

.App {
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
}
